includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 10
    paths:
        - src
        - config
        - database
    tmpDir: .phpstan.cache
    checkModelProperties: true
    ignoreErrors: []
